# General
.DS_Store
*.log
*.tmp
*.zip

# Python/Node artifacts (if any later)
__pycache__/
node_modules/

# AWS / IDE
*.iml
.idea/
.vscode/
*.tfstate*
.terraform/
dr-key.pem
FETCH_HEAD

# ignore large media
*.mp4
*.mov

# ignore large media
*.mp4
*.mov
